* {
  margin: 0;
}

.bg {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.number {
  color: white;
  font-size: 200px;
  font-family: "Montserrat";
}
